.navbar {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: #3b3b3b;
}

.navbar-logo-container {
	flex-basis: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.navbar-logo-text {
	font-size: 20px;
	font-weight: 600;
	margin-left: 10px;
	padding-bottom: 2px;
	color: #fff;
	font-family: "Rubik", sans-serif;
}

.navbar-logo-image {
	height: 40px;
}

.navbar-time-container {
	color: #fff;
	flex-basis: 33%;
	justify-content: center;
	display: flex;
	height: 60px;
}

.navbar-user-container {
	flex-basis: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.navbar-user-image {
	height: 40px;
	outline: 2px solid #fff;
	border-radius: 50%;
	transition: transform 0.2s ease-in-out;
}

.navbar-user-image:hover {
	transform: scale(1.2);
  }

.navbar-user-text {
	font-size: 20px;
	font-weight: 500;
	margin-left: 25px;
	padding-bottom: 5px;
	color: #fff;
	transition: transform 0.2s ease-in-out;
	font-family: "Rubik", sans-serif;
}

.navbar-user-text:hover {
	transform: scale(1.2);
  }
