.actions {
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.actions-button {
	height: 70px;
	width: 200px;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin-right: 10px;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.9),
            10px 10px 15px rgba(70,70,70,0.2);

}

.actions-text{
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color:#3b3b3b;
}

.actions-button:hover {
	border: 2px solid #858080;
}

.cancel-button{
	height: 70px;
	width: 200px;
	font-weight: bold;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin-right: 10px;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.9),
            10px 10px 15px rgba(70,70,70,0.2);
}


.cancel-button:hover {
	border: 2px solid #fc7f7f;
}

