.homepage {
	height: 100vh;
}

.homepage-navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.homepage-content {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
}

.homepage-content-first-line {
	display: flex;
	padding-top: 20px;
}

.homepage-content-cart {
	flex-basis: 40%;
	height: 100%;
}

.homepage-content-inventoty {
	flex-basis: 60%;
	height: 100%;
	overflow: auto;
}

.homepage-content-cart-container,
.homepage-content-inventory-container,
.homepage-content-cart-status-container {
	padding-left: 25px;
	padding-right: 25px;
}

.homepage-content-cart-container {
	height: 450px;
	overflow: auto;
}

.homepage-content-cart-status-container {
	width: 90%;
	padding-top: 20px;
}

.homepage-content-second-line {
	display: flex;
	padding-top: 20px;
}

.homepage-content-actions {
	padding-left: 25px;
	padding-right: 25px;
	width: 37%;
	padding-bottom: 20px;
}
