.homepage-navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.homepage-content {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
